<div class="container-tasks">
    <ul class="divide-y divide-yellow-500">
        <li>
            <app-task></app-task>
        </li>
        <li>
            <app-task></app-task>
        </li>
        <li>
            <app-task></app-task>
        </li>
        <li>
            <app-task></app-task>
        </li>
        <li>
            <app-task></app-task>
        </li>
        <li>
            <app-task></app-task>
        </li>
        <li>
            <app-task></app-task>
        </li>
        <li>
            <app-task></app-task>
        </li>

    </ul>
</div>