*{
    @apply text-indigo-900;
}
.task{
    display: flex;
    margin: 1em 0;
    @apply border-l-2 border-blue-600 hover:bg-purple-200;
}
p{
    width: 70%;
    max-height: 10vh;
}


.actions{
    width: 20%;
    margin: 0 auto;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

